body {
	margin : 2em;
	padding : 0em;
	font-family : sans-serif;
	font-size : 12px;
}

.floatingLogo {
	float : right;
}

a {
	color : #4684ff;
	text-decoration : none;
}

a:hover {
	color : black;
}

h1 {
	color : #88b0f0;
	font-size : 18px;
}

h2 {
	color : gray;
	font-size : 16px;
}

fieldset {
	border : 0px;
	margin : 0px;
	clear : left;
	line-height : 25px;
}

div#status {
	font-size : 14px;
	color : #88b0ff;
}

label {
	width : 250px;
	display : block;
	float : left;
	text-align : right;
	padding-right : 1em;
}

p.last-updated {
	color : gray;
}
fieldset span.note {
	color : gray;
	font-style : italic;
}


