/*
 * Conventions followed:
 * * <http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml>
 * * <http://csslint.net>
 */

body {
  font: 12px sans-serif;
  margin: 10px;
  padding: 0;
}

a {
  color: #4684ff;
  text-decoration: none;
}

a:hover {
  color: black;
}

h1 {
  color: #88b0f0;
  font-size: 18px;
}

h2 {
  color: gray;
  font-size: 16px;
}

fieldset {
  border: 0;
  clear: left;
  line-height: 25px;
  margin: 0;
}

label {
  display: block;
  float: left;
  margin-right: 12px;
  text-align: right;
  width: 250px;
}

.logo {
  float: right;
}

.last-updated {
  color: gray;
}

.note {
  color: gray;
  font-style: italic;
}

.status,
.error,
.success {
  display: none;
  font-size: 14px;
  font-weight: bold;
}

.success {
  color: #88b0ff;
}

.error {
  color: red;
}

.error li {
  color: black;
}

.submit {
  margin-left: 272px;
}
